* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 5rem;
    background-image: url(../img/pageOne/background.jpg);
}

a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

a:hover {
    color: #65cef7;
}

.person {
    margin-top: 15px;
    display: flex;
    font-size: 13px;
    position: absolute;
    color: #c9cbd0;
    right: 4.5em;
    top: 2em;
}

.person div {
    margin-right: 3em;
    margin-top: 10px;
}

.person div span {
    margin: 0 0.5em;
}

#sv {
    fill: #e3e3e3;
    right: 0;
    padding: 0.5em;
    margin: 0.5em 1em 0 5em;
    width: 3em;
    height: 3em;
}

nav {
    right: 3em;
    height: 90%;
    position: absolute;
    z-index: 1;
}

.navContent {
    position: relative;
    margin-top: 15vh;
}

.navMenu {
    width: 4em;
    font-family: "SansRegular";
    font-size: 1em;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.navMenu>li>a {
    text-align: -webkit-match-parent;
    font-family: "SansRegular";
    font-size: 1rem;
}

.navMenu>li {
    padding: 2.8rem 0;
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: "SansRegular";
    font-size: 1rem;
}

.menu ol {
    color: #fff;
    list-style: none;
    margin-top: 1em;
}

.menu {
    height: 100%;
    padding-top: 80vh;
    padding-right: 10vw;
}

ol,
li {
    list-style: none;
}

.IN {
    position: relative;
    display: flex;
}

li {
    flex: auto;
}

input {
    display: none;
}

input+label {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}

input+label+div {
    display: none;
    position: absolute;
    z-index: -1;
    left: 20vw;
    top: -25vh;
    right: 20vw;
}

input:checked+label {
    color: #65cef7;
}

input:checked+label+div {
    display: block;
}

label:hover {
    color: #65cef7;
}

.menu img {
    position: absolute;
    height: 100vh;
    margin-top: -70vh;
    z-index: -1;
}