* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 5rem;
}

.amiya {
    position: absolute;
    height: 90%;
    opacity: 0.1;
}

a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

a:hover {
    color: #65cef7;
}

.person {
    margin-top: 15px;
    display: flex;
    font-size: 13px;
    position: absolute;
    color: #c9cbd0;
    right: 4.5em;
    top: 2em;
}

.person div {
    margin-right: 3em;
    margin-top: 10px;
}

.person div span {
    margin: 0 0.5em;
}

#sv {
    fill: #e3e3e3;
    right: 0;
    padding: 0.5em;
    margin: 0.5em 1em 0 5em;
    width: 3em;
    height: 3em;
}

nav {
    right: 3em;
    height: 90%;
    position: absolute;
    z-index: 1;
}

.navContent {
    position: relative;
    margin-top: 15vh;
}

.navMenu {
    width: 4em;
    font-family: "SansRegular";
    font-size: 1em;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.navMenu>li>a {
    text-align: -webkit-match-parent;
    font-family: "SansRegular";
    font-size: 1rem;
}

.navMenu>li {
    padding: 2.8rem 0;
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: "SansRegular";
    font-size: 1rem;
}

.D img:hover {
    border: 2px solid #fff;
    border-radius: 10px;
}

.title {
    padding-top: 55px;
    margin-left: -20px;
    margin-bottom: 10px
}

.arknights {
    font-size: small;
    text-align: left;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: repeat(3, 55px);
    grid-template-columns: repeat(3, 50px);
}

.island {
    overflow: hidden;
    display: inline-flex;
    width: 570px;
    height: 100%;
    margin-top: 10px;
}

.island>svg>path {
    fill: #e3e3e3;
}

.DW {
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    flex-grow: 1;
    font-family: "SansMedium";
    color: #e3e3e3;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    display: block;
    height: 1rem;
}

.m {
    width: 131px;
    height: 131px;
    display: block;
    position: relative;
    margin-top: 150px;
    margin-bottom: -130px;
}

.m>div img{
    position: absolute;
    width: 90%;
    padding-bottom: 3vh;
    margin-left: 1vh;
    z-index: -1;
}

.m>div {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 5px;
}

.D {
    position: absolute;
    left: 12rem;
    margin-left: 70px;
}

.D>a {
    width: 9.5rem;
    height: 2.75rem;
    border-radius: 6px;
    display: block;
}

.do {
    position: absolute;
    left: 24rem;
    margin-left: 45px;
}